<div class="episode">
  <div class="screenshot"><%= link_to image_tag(episode.icon.url(:normal), :size => "200x125", :alt => episode.name), episode %></div>
  <% if episode.new? %>
    <div class="new">NEW</div>
  <% end %>
  <div class="main">
    <div class="info">
      <span class="number">Episode #<%= episode.position %></span> // <%= display_link(episode.author, false) %></span> // <span class="published_at"><%= episode.published_at.strftime('%b %d, %Y') %>
      <% unless episode.published? %>
        <span class="unreleased">NOT YET RELEASED</span>
      <% end %>
    </div>
    <%= image_tag "protected.png", :id => "protected" if episode.protected %><h2><%= link_to episode.name, episode %></h2>
    <div class="description"><%= episode.description %></div>
    <div class="watch">
      <% if episode.type == "Video" %>
        <%= link_to episode.link_text, episode_path(episode, :autoplay => true), :class => "watch_button" %>
      <% end %>
      <div class="stats">
        <span class="continue">
            <%= link_to "View episode", episode %>        
        </span>
        <span class="comments">
            <%= link_to pluralize(episode.comments.size, "comment"), episode_path(episode, :view => "comments") %>
        </span>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
