<div class="content">
  <p><strong>Please follow the <%= link_to "moderator guidelines", moderators_path %>.</strong></p>
  <%= form_for @episode do |f| %>
    <%= f.error_messages %>
    <%= field f, :position %>
    <%= field f, :name %>
    <div class="field">
        <label>Protected</label>
        <%= f.check_box :protected %>    
    </div>   
    <div class="field">
        <label>Author</label>
        <%= f.select :user_id, User.order(:name).each.collect {|user| [user.display_name, user.id] } %>
    </div> 
    <div class="field">        
        <%= field f, :alternate_url %>
    </div> 
    <div class="field">
        <label>Episode Type</label>
        <%= f.select :type_id, Episode::TYPES.each.with_index.collect {|i,ty| [i,ty]} %>
    </div>
    <div class="field">
        <label>Display Icon</label>
        <%= f.file_field :icon %>
    </div>
    <%= field f, :tag_names, :label => "Tags" %>
    <%= field f, :description, :type => :text_area, :rows => 6 %>
    <%= field f, :notes, :type => :text_area, :rows => 20, :cols => 120 %>
    <div id='assets'>
        <%- @episode.assets.each do |asset| %>
            <%= render 'assets/asset', :asset => asset %>
        <% end %>
    </div>
    <div style="clear:both;"></div>    
    <%= file_field_tag :asset_attachment %>
    <%= field f, :published_at, :type => :date_select, :label => "Publish Date" %>
    <div id="episode-duration" style="<%= "display:none;" unless action_name.eql?("edit") and @episode.type == "Video" %>">
        <%= field f, :duration %>  
    </div>      
    <div class="actions"><%= f.submit %></div>
  <% end %>
  <% content_for :javascript do %>
    <%- session_key = APP_CONFIG['session_key'] -%> 
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() { 
        
        $('#asset_attachment').click(function(event){ 
          event.preventDefault();
        }); 
        
        $('#asset_attachment').uploadify({
          uploader : '/uploadify/uploadify.swf',
          cancelImg : '/uploadify/cancel.png',
          multi : true,
          queueSizeLimit: '20',
          auto : true,
          script : '/episodes/<%= @episode.id %>/assets',
          onError: function(event,ID,fileObj,errorObj) {
          }, 
          onComplete : function(event, queueID, fileObj, response, data) {
            var dat = eval('(' + response + ')');            
            $.getScript('/episodes/<%= @episode.id %>/assets/' + dat["asset_id"]);},
          scriptData : {
                '_http_accept': 'application/javascript',
                'format' : 'json',
                '_method': 'post',
                '<%= session_key %>' : encodeURIComponent('<%= u cookies[session_key] %>'),
                'authenticity_token': encodeURIComponent('<%= u form_authenticity_token %>'),
                'assetable_id' : '<%= @episode.id %>',
                'assetable_type' : '<%= @episode.class.to_s %>'
              },

        });
        
        $('#upload_submit').click(function(event){ 
            event.preventDefault(); 
            $('#asset_attachment').uploadifyUpload(); 
          });
          
      }); 
    </script>
  <% end %>
</div>
