<% if can? :edit, @episode %>
  <div class="actions episode_actions"><%= link_to "Edit", edit_episode_path(@episode) %></div>
<% end %>

<div class="extra_nav">
  <% if @episode.file_sizes && @episode.file_sizes["zip"] %>
    <span class="browse_code">
      <%= image_tag "icons/browse_code.png", :size => "22x21", :class => "icon" %>
      <%= link_to "Browse Source Code", "http://github.com/railscasts/episode-#{@episode.position}" %>
    </span>
  <% end %>
</div>

<div class="show_notes">  
    <%= markdown @episode.notes %>
  <% if @episode.type == "Gallery" %> 
    <% markdown @episode.notes %>
    <% @episode.assets.each do |asset| %>
        <%= link_to(image_tag(asset.attachment.url(:thumb), :class => 'thumb thumb-list'), asset.attachment.url(:normal), class: "gallery", rel: @episode.full_name.parameterize) %>
    <% end %>
    <div style="clear:both;"></div>
  <% end %>
</div>
