<% if can? :edit, @episode %>
  <div class="actions episode_actions"><%= link_to "Edit", edit_episode_path(@episode) %></div>
<% end %>

<div class="show_notes">  
 <% if can? :view_content, @episode %> 
    <%= markdown @episode.notes %>
  <% if @episode.type == "Gallery" %> 
    <% markdown @episode.notes %>
    <% @episode.assets.each do |asset| %>
        <%= link_to(image_tag(asset.attachment.url(:thumb), :class => 'thumb thumb-list'), asset.attachment.url(:normal), class: "gallery", rel: @episode.full_name.parameterize) %>
    <% end %>    
  <% end %>
  <div style="clear:both;"></div>
 <% else %> 
  <div class="tip tip-info">
    <%= link_to "Create free account", new_user_registration_path %> or <%= link_to "login", new_user_session_path %> to read and view the content of this article. Registration is fast and free.  
  </div>
 <% end %>
</div>
