<% title "Marklin Episodes", false %>

<div class="content">
  <div class="side">
    <div class="episode_views">
      View:
      <span class="view"><%= link_to_unless params[:view].blank?, image_tag("views/full.png", :size => "15x10"), params.merge(:view => nil, :page => nil), :title => "Full View" %></span>
      <span class="view"><%= link_to_unless params[:view] == "list", image_tag("views/list.png", :size => "14x10"), params.merge(:view => "list", :page => nil), :title => "List View" %></span>
      <span class="view"><%= link_to_unless params[:view] == "grid", image_tag("views/grid.png", :size => "11x10"), params.merge(:view => "grid", :page => nil), :title => "Grid View" %></span>
    </div>
    <div class="categories">
    <!--Leave out for now 
      <h2>Categories</h2>
      <ul>
        <li>Articles</li>
        <li>Galleries</li>
        <li>Episodes</li>
        <li>Antiques Trainshow</li>
        <li>Auction Reports</li>
      </ul>
    --!>
    </div>
    <div class="tags">
      <h2>Tags</h2>
      <ul>
      <% for tag in Tag.order("name") %>
        <li><%= link_to_unless(params[:tag_id].to_i == tag.id, tag.display_name, params.merge(:tag_id => tag.id, :page => nil)) %></li>
      <% end %>
      </ul>
    </div>
    <div class="banner">
      <a href="http://www.toymetric.com/"><img alt="ToyMetric.com" src="http://marklinstop.com/wp-content/uploads/2012/04/toy_metric_ad_SUPERB.jpg" /></a>
    </div>    
  </div>


  <div class="episodes">
    <% if @tag || params[:search].present? %>
      <div class="filters">
        <strong>Filtering:</strong>
        <% if params[:search].present? %>
          <span class="filter"><%= params[:search] %> <%= link_to "x", params.merge(:search => nil, :page => nil) %></span>
        <% end %>
        <% if @tag %>
          <span class="filter"><%= @tag.display_name %> <%= link_to "x", params.merge(:tag_id => nil, :page => nil) %></span>
        <% end %>
      </div>
    <% end %>
    <% if @episodes.empty? %>
      <p class="content">No episodes found. <%= link_to "See all episodes.", episodes_path %></p>
    <% else %>
      <div class="tip tip-info">
        <h3>Have a Marklin toy or interested in Marklin history?</h3>
        <p>
        Here we have many episodes to learn more about Marklin toys and the history of Gebr. Marklin & Cie.  Also feel free to <%= link_to "contact me", feedback_path %> about your Marklin toy and I can tell you what gauge it is, the years it was made, ways to Buy & Sell your toys, and how to restore or maintain them.  I want to hear from you!
        </p>
      </div>
      <% if params[:view].nil? %>
        <div class="full">
          <%= render @episodes %>
        </div>
      <% elsif params[:view] == "list" %>
        <%= render :partial => "episodes/list", :locals => {:episodes => @episodes} %>
      <% elsif params[:view] == "grid" %>
        <div class="grid">
          <% for episode in @episodes %>
            <div class="episode">
              <div class="screenshot"><%= link_to image_tag(episode.icon.url(:normal), :size => "200x125"), episode %></div>
              <div class="name">
                #<%= episode.position %>
                <%= link_to episode.name, episode %>
              </div>
            </div>
          <% end %>
          <div class="clear"></div>
        </div>
      <% end %>

      <%= will_paginate :previous_label => h("< Previous Page"),  :next_label => h("Next Page >") %>
    <% end %>
  </div>
  <% if can? :create, Episode %>
    <div class="actions"><%= link_to "New Episode", new_episode_path %></div>
  <% end %>
</div>
