<% title "About MarklinStop", false %>
<% content_for :description, "As a FREE service, MarklinStop offers the evaluation and appraisal of any Marklin toy or entire collection" %>

<div class="content" id="about">
  <div class="small-about">
    <%= image_tag "marklin_RS_800_about.jpg" %>
    Marklin RS 800 Locomotive
  </div>
  <h1 class="fancy">About MarklinStop</h1>  
  <p>The MarklinStop.com website is produced by Paul as a hobby project to circulate information about Marklin trains and the history of the Marklin company.  A team of moderators, authors, and participants also help run the website and make it fun and enjoyable.</p>
  <%= image_tag "marklinstop-we-buy-marklin-toys.gif", :style => "width: 650px;" %>
  <h2>Contact</h2>
  <p>If you would like to learn more about your Marklin toy or collection, have any comments, suggestions, questions, etc, I'd love to hear from you! Please submit a message using the <%= link_to "Feedback Page", feedback_path %> or send an email to <%= link_to "marklinstop@gmail.com", "mailto:marklinstop@gmail.com" %> and I will respond as soon as possible.</p>

  <h2>Moderators</h2>
  <p>Thank you to all moderators who help keep the site clean and up to date:</p>
  <ul>
    <% for user in User.where(:moderator => true).order(:name) %>
      <li><%= link_to user.display_name, user %></li>
    <% end %>
  </ul>
  <p>If you are interested in becoming a moderator, see the <%= link_to "moderator guidelines", moderators_path %>.</p>
</div>
