<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "Märklin Toys from 1859 to Present for Enthusiasts of All Gauges" %></title>
    <%= description_meta_tag %>    
    <meta name="keywords" content="marklin, collector, trains, vintage, vintage marklin, vintage marklin trains, antique marklin, antique marklin trains, 800, 700, 1930s trains, 1940s trains, 1950s trains, SLR 700, ST 800, R 700 A, SK 800, RS 800, CCS 66 12921, lms, lner, lne, sell marklin, buy marklin, marklin collection, how to sell marklin, how to sell, how to buy marklin, sell trains, buy trains," />
    <link rel="canonical" href="http://marklinstop.com" />
    <link rel="alternate" type="application/rss+xml" title="Episodes RSS" href="http://feeds.feedburner.com/marklinstop" />
    <%= stylesheet_link_tag "application", "coderay" %>        
    <%= javascript_include_tag "http://cdn.sublimevideo.net/js/3s7oes9q.js", "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:javascript) %>
    <%= yield(:head) %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19698475-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="top">
      <div class="logo">
        <%= link_to image_tag("marklinstop_logo.png", :width => "345", :alt => "MarklinStop.com"), root_path %>
        <div class="tagline">
            <%= link_to "MarklinStop.com // all about Marklin, 1859 - Present", root_path %> 
        </div>
      </div>      
      <div class="account-nav">
      <% if user_signed_in? %>
        <%= link_to (image_tag avatar_url(current_user), :id => "avatar"), user_path(current_user) %> 
        <%= link_to current_user.display_name, user_path(current_user), :id => "username" %>
        <br />        
        <%= link_to "log out", destroy_user_session_path, :method => :delete %>
        <% if current_user.admin? %>
            <%= link_to "admin", admin_path %>
        <% end %>        
      <% else %>
        <%= link_to("login", new_user_session_path) %> / <%= link_to("sign up", new_user_registration_path) %>  
      <% end %>      
      </div>
      <ul class="subscribe horizontal">       
        <li>
          <%= link_to image_tag("icons/mailchimp.png", :size => "34x34"), "http://eepurl.com/f0pUL" %>
          <span class="name">join newsletter</span>
        </li>
        <li>
          <%= link_to image_tag("icons/googleplus.png", :size => "34x34"), "https://plus.google.com/u/0/115548175117290179248" %>
          <span class="name">follow on Google+</span>
        </li>
        <li>
          <%= link_to image_tag("icons/facebook.png", :size => "34x34"), "https://www.facebook.com/pages/MarklinStopcom/176446422398649" %>
          <span class="name">follow on Facebook</span>
        </li>
        <li>
          <%= link_to image_tag("icons/rss.png", :size => "34x34"), "http://feeds.feedburner.com/MarklinStop" %>
          <span class="name">subscribe to RSS feed</span>
        </li>
      </ul>
    </div>

    <div id="nav_bar">
      <ul class="nav horizontal">
        <li <%= active?(root_url) %>><%= link_to_unless_current "Browse Episodes", root_url %></li>
        <li <%= active?(we_buy_path) %> id="we_buy"><div id="we_buy">$</div><%= link_to_unless_current "Purchase & Sale", we_buy_path %></li>
        <li <%= active?(about_path) %>><%= link_to_unless_current "About", about_path %></li>
        <li <%= active?(feedback_path) %>><%= link_to_unless_current "Contact", feedback_path %></li>
        <% if can? :index, :comments %>
          <li <%= active?(comments_path) %>><%= link_to_unless_current "Recent Comments", comments_path %></li>
        <% end %>
      </ul>
      <%= form_tag episodes_path, :method => "get" do %>
        <%= text_field_tag :search, params[:search], :size => 35 %>
        <%= submit_tag "Search Episodes", :name => nil %>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, raw(msg), :id => "flash_#{name}") %>
    <% end %>

    <div id="main">
      <% if show_title? %>
        <h1 class="content"><%= yield(:title) %></h1>
      <% end %>

      <%= yield %>
    </div>
    <div id="footer">
      <div class="inner">
        &copy;<%= Date.today.year %> This site is <%= link_to "open source", "https://github.com/themetric/railscasts" %>
      </div>
    </div>
    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
    var sc_project=8624782; 
    var sc_invisible=0; 
    var sc_security="2a8ca598"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="web analytics"
    href="http://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="http://c.statcounter.com/8624782/0/2a8ca598/0/"
    alt="web analytics"></a></div>
    </noscript>
    <!-- End of StatCounter Code for Default Guide -->
  </body>
</html>
